<section class="slide">
    <div class="header"><h1>Rettungsroboter</h1></div>
    <div class="content center">
      <img style="width:100%;" src="./images/robot_mission.png"/>
    </div>
    <div class="footer"></div>
</section>


<section class="slide">
  <div class="header"><h2>Roboterarm</h2></div>
  <div class="content">
    <img style="height: 60vh;" src="./images/robot_arm.png"/>
  </div>
   <div class="footer"></div>
</section>

<section class="slide">
  <div class="header"><h2>Roboterarm</h2></div>
  <div class="content">
    <img style="height: 60vh;" src="./images/robot_arm.png"/>
  </div>
   <div class="footer"></div>
</section>

<section class="slide">
  <div class="header"><h2>Roboterarm</h2></div>
  <div class="content">
    <video controls autoplay muted loop style="height:60vh">
      <source src="./videos/robotarm.mp4" type="video/mp4">
    </video>
  </div>
   <div class="footer"></div>
</section>