

<section>
    <h2>Rettungsroboter</h2>
    <img class="r-stretch" src="./images/robot_mission.png"/>
</section>

<section>
    <h2>Rettungsroboter</h2>


<svg id="robot_svg">


</svg>


<script>
    function makeEaseOut(timing) {
      return function(timeFraction) {
        return 1 - timing(1 - timeFraction);
      }
    }

    function bounce(timeFraction) {
      for (let a = 0, b = 1; 1; a += b, b /= 2) {
        if (timeFraction >= (7 - 4 * a) / 11) {
          return -Math.pow((11 - 6 * a - 11 * timeFraction) / 4, 2) + Math.pow(b, 2)
        }
      }
    }

    let bounceEaseOut = makeEaseOut(bounce);

    robot_svg.onclick = function() {
      animate({
        duration: 3000,
        timing: bounceEaseOut,
        draw: function(progress) {
          brick.style.left = progress * 500 + 'px';
        }
      });
    };
  </script>

</section>

<section>
    <h2>Roboterarm</h2>
    <img class="r-stretch" src="./images/robot_arm.png"/>
</section>