
<section class="slide">
  <div class="header"><h2>
    <span class="lang wrong_lang de">Elektromotor</span>
    <span class="lang wrong_lang en">learning by doing</span>
  </h2></div>
  <div class="content center">
    <div class="content center">
        <img style="height:60vh;" src="./images/hoverboard_destruction.jpg"/>
      </div>
    <p>
      <span class="lang wrong_lang de">Manchmal ist Gewalt eine Lösung!</span>
      <span class="lang wrong_lang en">Getting to the core!</span>
    </p>
  </div>
  <div class="footer"></div>
</section>

  <section class="slide">
    <div class="header"><h2>
      <span class="lang wrong_lang de">Elektromotor</span>
      <span class="lang wrong_lang en">Electric Motor</span>
    </h2></div>
    <div class="content center">
      <div class="content center">
          <img style="width:100%;" src="./images/motor2.jpg"/>
        </div>
      <p>
        <span class="lang wrong_lang de">zweiter eigener Motor</span>
        <span class="lang wrong_lang en">motor prototyp</span>
      </p>
    </div>
    <div class="footer"></div>
  </section>