<section class="slide">
    <div class="header"><h2>
      <span class="lang wrong_lang de">Elektromotor</span>
      <span class="lang wrong_lang en">Electric motor</span>
    </h1></div>
    <div class="content center">
      <img style="height:60vh;" src="./images/hoverboard.png"/>
      <p>
        <span class="lang wrong_lang de">Aller Anfang ist schwer!</span>
        <span class="lang wrong_lang en">Beginning is hard!</span>
      </p>
    </div>
    <div class="footer"></div>
</section>

<section class="slide">
  <div class="header"><h2>
    <span class="lang wrong_lang de">Elektromotor</span>
    <span class="lang wrong_lang en">Electric motor</span>
  </h2></div>
  <div class="content center">
    <div class="content center">
        <img style="height:60vh;" src="./images/hoverboard_destruction.jpg"/>
      </div>
    <p>
      <span class="lang wrong_lang de">Manchmal ist Gewalt eine Lösung!</span>
      <span class="lang wrong_lang en">Getting to the core!</span>
    </p>
  </div>
  <div class="footer"></div>
</section>

<section class="slide">
    <div class="header"><h2>
      <span class="lang wrong_lang de">Elektromotor</span>
      <span class="lang wrong_lang en">Electric motor</span>
    </h2></div>
    <div class="content center">
      <div class="content center">
          <img style="width:100%;" src="./images/motor1.jpg"/>
        </div>
      <p>
        <span class="lang wrong_lang de">Erster Motor</span>
        <span class="lang wrong_lang en">First motor prototyp</span>
      </p>
    </div>
    <div class="footer"></div>
  </section>

  <section class="slide">
    <div class="header"><h2>
      <span class="lang wrong_lang de">Elektromotor</span>
      <span class="lang wrong_lang en">Electric motor</span>
    </h2></div>
    <div class="content center">
      <div class="content center">
          <img style="width:100%;" src="./images/motor2.jpg"/>
        </div>
      <p>
        <span class="lang wrong_lang de">Zweiter eigener Motor</span>
        <span class="lang wrong_lang en">Second motor prototyp</span>
      </p>
    </div>
    <div class="footer"></div>
  </section>