<section class="slide">
    <div class="header"><h2>MicroMouse</h2></div>
    <div class="content center">
        <img src="./images/micromouse_task.svg"/>
        <p>
            <span class="lang wrong_lang de"><b>Ziel:</b> Schneller raus als die Maus!</span>
            <span class="lang wrong_lang en"><b>Goal:</b> Get in and out faster than the mouse!</span>
        </p>
    </div>
    <div class="footer"></div>
</section>

<section class="slide">
    <div class="header"><h2>MicroMouse</h2></div>
    <div class="content">
        <video controls autoplay muted loop style="height:50vh">
            <source src="./videos/mouse.mp4" type="video/mp4">
        </video>
        <p class="center">
            <span class="lang wrong_lang de">Unsere erste (Mega)Mouse</span>
            <span class="lang wrong_lang en">Our first (Mega)Mouse</span>
        </p>
    </div>
    <div class="footer"></div>
</section>

<section class="slide">
    <div class="header"><h2>(Micro)Mouse</h2></div>
    <div class="content center">
        <img style="height: 60vh;" src="./images/ECar.jpg"/>
        <p>
            <span class="lang wrong_lang de">Auch bei der Elektrifizierung ganz vorn mit dabei!</span>
            <span class="lang wrong_lang en">In case you want to be really fast!</span>
        </p>
    </div>
    <div class="footer"></div>
</section>