<section class="slide">
    <div class="header"><h2>MicroMouse</h2></div>
    <div class="content center">
        <img src="./images/micromouse_task.svg"/>
        <p><b>Ziel:</b> Schneller heraus als die Maus!</p>
    </div>
    <div class="footer"></div>
</section>

<section class="slide">
    <div class="header"><h2>MicroMouse</h2></div>
    <div class="content">
        <video controls autoplay loop>
            <source src="./videos/mouse.mp4" type="video/mp4">
        </video>
        <p class="center">Unser erste (Mega)Mouse</p>
    </div>
    <div class="footer"></div>
</section>
