<section class="slide">
    <div class="header"><h2>MicroMouse</h2></div>
    <div class="content center">
        <img src="./images/micromouse_task.svg"/>
        <p><b>Ziel:</b> Schneller raus als die Maus!</p>
    </div>
    <div class="footer"></div>
</section>

<section class="slide">
    <div class="header"><h2>MicroMouse</h2></div>
    <div class="content">
        <video controls autoplay muted loop style="height:50vh">
            <source src="./videos/mouse.mp4" type="video/mp4">
        </video>
        <p class="center">Unsere erste (Mega)Mouse</p>
    </div>
    <div class="footer"></div>
</section>

<section class="slide">
    <div class="header"><h2>(Micro)Mouse</h2></div>
    <div class="content center">
        <img style="height: 60vh;" src="./images/ECar.jpg"/>
        <p>Auch bei der Elektrifizierung ganz vorn mit dabei!</p>
    </div>
    <div class="footer"></div>
</section>