<section class="slide">
    <div class="header"><h2>
      <span class="lang wrong_lang de">Rettungsroboter</span>
      <span class="lang wrong_lang en">Our rescue robot</span>
    </h1></div>
    <div class="content center">
      <img style="width:100%;" src="./images/robot_mission.png"/>
    </div>
    <div class="footer"></div>
</section>

<section class="slide">
    <div class="header"><h2>
      <span class="lang wrong_lang de">Rettungsroboter</span>
      <span class="lang wrong_lang en">Our rescue robot</span>
    </h2></div>
    <div class="content center">
      <img style="height: 60vh;" src="./images/SireneRoboter.jpg"/>
      <p>
        <span class="lang wrong_lang de">Erster (Kleiner) Rettungsroboter</span>
        <span class="lang wrong_lang en">First (small) rescue robot</span>
      </p>
    </div>
    <div class="footer"></div>
</section>

<section class="slide">
    <div class="header"><h2>
      <span class="lang wrong_lang de">Rettungsroboter</span>
      <span class="lang wrong_lang en">Our rescue robot</span>
    </h2></div>
    <div class="content center">
        <video controls autoplay muted loop style="height:50vh">
            <source src="./videos/NicoVideo.mp4" type="video/mp4">
        </video>
      <p>
        <span class="lang wrong_lang de">Erste erfolgreiche Tests</span>
        <span class="lang wrong_lang en">Successfull mapping tests</span>
      </p>
    </div>
    <div class="footer"></div>
</section>

