<section class="slide">
    <div class="header"><h2>
      <span class="lang wrong_lang de">Rettungsroboter</span>
      <span class="lang wrong_lang en">Rescue Robot</span>
    </h1></div>
    <div class="content center">
      <img style="width:100%;" src="./images/robot_mission.png"/>
    </div>
    <div class="footer"></div>
</section>

<section class="slide">
  <div class="header"><h2>
    <span class="lang wrong_lang de">Rettungsroboter</span>
    <span class="lang wrong_lang en">Rescue Robot</span>
  </h2></div>
  <div class="content center">
    <video controls autoplay muted loop style="height:50vh">
      <source src="./videos/Bein-Demonstrator3.mp4" type="video/mp4">
  </video>
    <p>
      <span class="lang wrong_lang de">Erster Beinprototyp</span>
      <span class="lang wrong_lang en">first leg prototyp</span>
    </p>
  </div>
  <div class="footer"></div>
</section>



