@import 'variables.scss';

body {
    color: $primary;
}

header {
    position: absolute; 
    top: 0px;
    left: 0px;
    width: 96%;
    margin-top: 2rem;
    margin-left: 2vw;
    margin-right: 2vw;
    z-index: 500;
}

#logo {
    margin: 0 0 0 0;
}

header .left {
    position: absolute; 
    left: 0px;
    margin: 0;
}

header .right {
    position: absolute; 
    right: 0px;
    margin: 0;
}