<section class="slide">
    <div class="header">
        <h1>
            <span class="lang wrong_lang de">Leobots-Wer?</span>
            <span class="lang wrong_lang en">Leobots-Who?</span>
        </h1>
    </div>
    <div class="content center">
        <img style="height: 50vh;" src="./images/team.jpg"/>
        <p>
            <span class="lang wrong_lang de">Ein Treffpunkt für Robotikenthusiasten!</span>
            <span class="lang wrong_lang en">A gathering spot for robotic hobbyists!</span>
        </p>
    </div>
    <div class="footer"></div>
</section>