<section class="title-card">
    <h1 style="font-size:2em;">
      <span class="lang wrong_lang de">und eine Menge toller Projekte ...</span>
      <span class="lang wrong_lang en">and many great projects ...</span>
    </h1>
</section>

<module href="/components/projects/rettungsroboter.html"></module>
<module href="/components/projects/arm.html"></module>
<module href="/components/projects/motor.html"></module>
<module href="/components/projects/mouse.html"></module>
<module href="/components/projects/test_plattform.html"></module>

<section class="slide">
    <div class="header">
      <h1 style="font-size: 10vh;">
        <span class="lang wrong_lang de">mit viel Spaß!</span>
        <span class="lang wrong_lang en">with a lot of fun!</span>
      </h1>
    </div>
    <div class="content center">
      <!--<img style="height: 60vh;" src="./images/LaufroboterHindernisse.jpg"/>-->
      <img style="height: 60vh;" src="./images/LeobotsSpaß.jpg"/>
    </div>
    <div class="footer"></div>
</section>
