<section class="slide">
    <h1 class="header">
        <span class="lang wrong_lang de">Unsere Bereiche:</span>
        <span class="lang wrong_lang en">Our interests:</span>
    </h1>
    <div class="content">
        <p><span><img id="icon" src="./images/draft.svg"/>
            <span class="lang wrong_lang de">Konzeption & Konstruktion</span>
            <span class="lang wrong_lang en">Desing</span>
        </span></p>
        <p><span><img id="icon" src="./images/electronics.svg"/>
            <span class="lang wrong_lang de">Hardwarebau</span>
            <span class="lang wrong_lang en">Hardware development</span>
        </span></p>
        <p><span><img id="icon" src="./images/manufacturing_1.svg"/>
            <span class="lang wrong_lang de">Herstellung & Produktion</span>
            <span class="lang wrong_lang en">Manufacturing & Production</span>
        </span></p>
        <p><span><img id="icon" src="./images/software.svg"/>
            <span class="lang wrong_lang de">Softwareentwicklung</span>
            <span class="lang wrong_lang en">Software development</span>
        </span></p>
        <p><span><img id="icon" src="./images/optimization.svg"/>
            <span class="lang wrong_lang de">Optimierung</span>
            <span class="lang wrong_lang en">Optimization</span>
        </span></p>
        <p><span><img id="icon" src="./images/finanz.svg"/>
            <span class="lang wrong_lang de">Sponsoring & Finanzen</span>
            <span class="lang wrong_lang en">Sponsoring & Finance</span>
        </span></p>
        <p><span><img id="icon" src="./images/marketing.svg"/>
            <span class="lang wrong_lang de">Marketing</span>
            <span class="lang wrong_lang en">Marketing</span></p>
    </div>
    <div class="footer"></div>
</section>