<section class="slide">
    <h1 class="header">Unsere Bereiche:</h1>
    <div class="content">
        <p><span><img id="icon" src="./images/draft.svg"/>Konzeption & Konstruktion</span></p>
        <p><span><img id="icon" src="./images/electronics.svg"/>Hardwarebau</span></p>
        <p><span><img id="icon" src="./images/manufacturing_1.svg"/>Herstellung & Produktion</span></p>
        <p><span><img id="icon" src="./images/software.svg"/>Softwareentwicklung</span></p>
        <p><span><img id="icon" src="./images/optimization.svg"/>Optimierung</span></p>
        <p><span><img id="icon" src="./images/finanz.svg"/>Sponsoring & Finanzen</span></p>
        <p><span><img id="icon" src="./images/marketing.svg"/>Marketing</span></p>
    </div>
    <div class="footer"></div>
</section>